@model IEnumerable<Catalogoflix.Models.InteresseFilme>
@{
    ViewData["Title"] = "Email";
}

<h2>Enviando Email</h2>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @*@{
                var teste = @TempData["NomeFilme"];
                var result = from obj in Model select obj;
                var emails = result.Where(e => e.Titulo == (string)teste);
            }*@
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
            </tr>
        }
    </tbody>
</table>
<form asp-action="">
    <a asp-action="Index" class="btn btn-danger">Voltar para Lista</a>
</form>


